/* Assuming Adwaita-dark as Gtk theme */

#popup-window {
    background-color: transparent;
}

#notification-center {
    background-color: #232323;
}

#popup-window .notification > * {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

#popup-window *,
#notification-center *{
    outline: none;
    color: white;
}

button {
    border: none;
    box-shadow: none;
    border-radius: 7px;
    background-color: rgba(255,255,255, 0.1);
}

button:hover {
    background-color: rgba(255,255,255, 0.2);
}

button:active {
    background-color: rgba(255,255,255, 0.3);
}

.notification > * {
    margin: 8px;
    padding: 8px;
    border-radius: 15px;
    background-color: #141414;
}

.notification .icon {
    border-radius: 7px;
    margin-right: 8px;
}

.notification .close-button {
    padding: 0;
    margin: 0;
    min-height: 1.4em;
    min-width: 1.4em;
    border-radius: 1em;
}

.notification .title {
    font-size: 1.1em;
    color: white;
}

.notification .description {
    color: rgba(255, 255, 255, 0.7);
}

.list {
    margin: 8px;
    min-width: 380px;
}

.action-button {
    margin: 0 4px;
}

.action-button:first-child {
    margin-left: 0;
}

.action-button:last-child {
    margin-right: 0;
}

.action-button:last-child:first-child {
    margin: 0;
}

.header {
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.placeholder image {
    font-size: 8em;
}

.placeholder label {
    font-size: 1.4em;
}
