label {
    font-weight: bold;
}

.workspaces button {
    background-color: transparent;
    color: #eee;
}

.workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #efefef;
}

.workspaces button:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.workspaces button.focused {
    border-bottom: 3px solid aqua;
}

.client-title {
    margin-left: 1em;
}

.client-title {
    color: aqua;
}

.notification image {
    color: yellow;
    margin-left: 1em;
}

.battery progressbar {
    margin: 0 6px;
}

.clock {
    margin: 0 6px;
    font-size: 1.1em;
}

progress, highlight {
    background-color: aqua;
    min-height: 8px;
}
