name: Binary Cache

on: [push, pull_request, workflow_dispatch]
jobs:
  nix:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: cachix/install-nix-action@v25
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: cachix/cachix-action@v12
        with:
          name: ags
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build ags
        run: |
          nix build --print-build-logs
          nix build --print-build-logs .#agsWithTypes
