name: Create Release

permissions:
    contents: write

on:
    release:
        types: [published]

jobs:
    release:
        name: Create Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  submodules: "recursive"

            - name: Setup go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.24"

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22

            - name: Install dependencies
              run: |
                  npm ci
                  cd cli
                  go mod tidy
                  go mod vendor

            - name: Create tarball
              run: |
                  cd ..
                  tar -czf "ags-${{ github.ref_name }}.tar.gz" "ags"

            - name: Attach tarball to release
              uses: softprops/action-gh-release@v2
              with:
                  files: ../ags-${{ github.ref_name }}.tar.gz
